.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  &:not(.basic){
    svg{
      border-radius: 15px;
    }
  } 
}

.buttons{
  display: flex; 
  overflow: auto;
}

button{
  margin:1rem
}